
@font-face {
  font-family: 'LubalinGraph-Book';
  src: url('LubalinGraph-Book.eot?#iefix') format('embedded-opentype'),  url('LubalinGraph-Book.woff') format('woff'), url('LubalinGraph-Book.ttf')  format('truetype'), url('LubalinGraph-Book.svg#LubalinGraph-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
