.dashbord {}

.dashbord__wrapper {
  @include wrapper();
}

.dashbord__title {
  h1 {
    border-bottom: 1px solid $blue;
    margin: 0;
    padding-bottom: 1rem;
  }
}


.dashbord__filter {

  margin-top: 2rem;

  a,a:visited {
    color: $blue;
    text-decoration: none;
  }

  ul {
    @include update-list($margin: 0 0 1rem 0);

    li {
      margin: 0.5rem 0;
    }
  }

  img {
    width: 200px;
  }
}

.dashbord__content {
  margin-top: 2rem;
}

.dashbord__project {
  background-color: white;
  border: 1px solid $blue;
  padding: 1rem;
  width: 250px;
  margin: 0 5px 2rem 0;
  cursor: pointer;

  img {
    width: 250px;
    overflow: hidden;
  }

  h3, p {
    margin: 0.5rem 0;
  }

  i {
    margin-right: 0.5rem;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

@include breakpoint(medium only) {
  .dashbord__project {
    width: 230px;
  }
}

.dashbord__project--filter {
  margin-right: 0;
}

.dashbord__project-image {
  position: relative;

  p {
    position: absolute;
    bottom: 10px;
    background-color: $purple;
    margin: 0;
    padding: 0.3rem;
    width: 80px;
    border-radius: 0 1.5rem 1.5rem 0;
  }
}