.home {}

.home__wrapper {
  @include flex-grid-row;
  @include flex-align(center);
}

.home__start {
  @include flex-grid-column;
  @include flex;
  @include flex-direction(column);
  @include flex-align(left,middle);

  p {
    width: 50%;
  }

  @include breakpoint(medium down) {
    p {
      width: 100%;
    }
  }
}

.home__project {

}

html, body {
  height: 100%;
}

body {
  @include flex;
  @include flex-direction(column);
}