.home {}

.home__wrapper {
  color: white;
  text-align: center;
  height: 100%;
}

.home__start {
  p {
    font-size: 1.5rem;
  }

  a {
    @include button();
    text-decoration: none;
  }
}

.home__project {

  img {
    height:100px;
  }
}