.project {}

.project__wrapper {
  @include wrapper();
}

.project__wrapper--header {
  margin-bottom: 2rem;
  padding-top: 0;
}

.project__content {
  a, a:visited {
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.project__definition {
  margin-bottom: 2rem;

  img {
    max-width: 310px;
  }
}

.project__info {
  margin-right: 1rem;

  h2 {
    margin-top: 0;
  }
}

.project__comments {
  border-left: 1px solid $blue;

  .project__comment:last-of-type {
    margin-left: 19px;
  }

  img {
    width: 50px;
    height:50px;
  }

  form {

    label {
      display: none;
    }

    textarea {
      display: block;
      box-sizing: padding-box;
      overflow: hidden;
      border-radius: 5px;
      border: 0;
      height: 50px;
    }

    margin-left: 1rem;
  }

  @include breakpoint(medium down) {
    border-left: none;

    h2 {
      border-top: 1px solid $blue;;
    }
  }
}

.project__comment {
  i {
    color: $blue;
    height: 22px;
  }
  span {
    margin-right: 5px;
  }

  p {
    margin: 0 0 0.5rem 1rem;
  }

  p:first-of-type {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.comment-placeholder {
  width: 14px;
}

.comment {
  button {
    @include button($bc: $blue, $color: white);
    width: 100%;
  }
}

.project__upload-zone {
  background-color: white;
  height: 150px;
}

.project__upload {

  img {
    height: 100px;
    width: 100px;
    background-color: $purple;
    margin: 1rem 1rem 0.5rem;
  }

  span {
    margin-left: 1rem;
  }
}

.project__header {
  height: 200px;
  overflow: hidden;

  img {

  }
}

.project__participants {
  width: 100%;

  ul {
    @include update-list($margin: 1rem 0 0);

    img {
      width: 30px;
    }
  }
}

.project__nb-participants {

  margin: 15px 0 0 0;

  span {
    margin-right: 5px;
  }
}

.project__participation {
  div {
    background-color: white;
    height: 30px;
    width: 100%;
  }
}

.project__participants-avatar {

  li {
    margin: 0 0.5rem;
  }

  @include breakpoint(small only) {
    display: none;
  }
}

.project__participation {
  margin: 1rem 0 0;
}



