<h2>Liste des participants</h2>
{% if participants is defined and participants|length > 0 %}
    <ul>
        {# for participantStatusLabel => use picto ? #}
        {% for participant in participants %}
            <li>
                {% if isCreator is defined and isCreator %}<a href="{{ path('participant_remove', {'id': participant.id}) }}">x</a> {% endif %}
                [{{ participant.statusLabel }}] {{ participant.fullName }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div>Aucun participant</div>
{% endif %}