{% trans_default_domain 'FOSUserBundle' %}

<section class="form__wrapper">
    <div class="form__content">
        <h1>Changement de mot de passe</h1>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div class="form__submit">
            <button type="submit">Changer le mot de passe</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
