{% extends '@App/layout/layout.html.twig' %}

{% block content %}
    <section class="page__wrapper">
        <div class="page__content">
            <h1>A propos</h1>
            <h2>Qu'est ce que Your Project ?</h2>
            <p>
                Your Project est une application web vous permettant de créer et gérer des événements facilement.
                Il vous suffit ensuite d'inviter vos amis par mails afin de connaître leurs disponibilités et débattre sur le projet.
            </p>
            <p>
                Vous avez la possibilité d'uploader des fichiers relatifs à vos événements tels que des checklists ou documents que vous aurez besoin le jour J.
            </p>
            <h2>Quelle est la différence entre un projet privé et un projet public ?</h2>
            <p>Un projet privé est un projet pour vous tout seul ou pour y inviter des amis</p>
            <p>
                Un projet public vous permet de faire une proposition d'événement qui apparaitra aux yeux de tout le monde.
                Ils pourront ainsi demander à être invité.
                Par exemple, vous souhaitez organiser un meetup informatique. Vous n'avez qu'à créer l'événement et à avoir les retours de différentes personnes.
            </p>
            <h2>Dois-je m'inscrire ?</h2>
            <p>
                Vous n'avez besoin d'un compte uniquement pour créer des événements ou les retrouver plus facilement.
                Autrement, vous pouvez y accéder depuis l'invitation reçue par mail.
            </p>
        </div>
    </section>
{% endblock %}