{% extends '@App/layout/layout.html.twig' %}

{% block content %}
    <section class="page__wrapper">
        <div class="page__content">
            <h1>Contact</h1>
            <img src="{{ asset('assets/img/contact.jpg') }}" alt="">
            <p>Si vous avez des difficultés avec l'utilisation du site.</p>
            <p>Ou si vous avez des remarques.</p>
            <p>N'hésitez pas à me contacter sur les réseaux sociaux ou sur :</p>
            <a href="mailto:yourproject.contact@gmail.com">yourproject.contact@gmail.com</a>
        </div>
    </section>
{% endblock %}