{% extends '@App/layout/layout.html.twig' %}

{% block content %}
    <section class="home__wrapper">
        <div class="home__start">
            <h1>Bienvenue sur Your Project !</h1>
            <p>Vous pouvez d'ores et déjà démarrer un évènement !
                Il vous suffit de vous laisser guider en cliquant sur commencer ! ;)
            </p>
            <a href="{{ path('project_create') }}">Commencer</a>
        </div>
    </section>
{% endblock %}