/* Colors */
$blue: #284F6A;
$lightblue: #62B6D6;
$purple: #AC92A6;
$beige: #D5C7BC;

/* Fonts */
@font-face {
  font-family: 'Arsenal';
  src: url('../fonts/Arsenal/Arsenal-Regular.ttf');
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

$font-primary: 'Arsenal','Arial','Helvetica','sans-serif';
$font-secondary: 'Open-Sans','Arial','Helvetica','sans-serif';

/* Global CSS */
body {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.45),
                  rgba(0, 0, 0, 0.45)
  ),url("../img/trip-organisation.jpeg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4 {
  font-family: $font-primary;
}

p, ul, li, span, div {
  font-family: $font-secondary;
}