/**
 * Remove bullets and margins, paddings from lists
 * @param $margin:      margin:              0
 * @param $padding:     padding:             0
 * @param $list-type:   list-style-type:     none
 */
@mixin update-list(
    $margin: 0,
    $padding: 0,
    $list-type: none) {

    margin: $margin;
    padding: $padding;
    list-style-type: $list-type;
}

/**
 * Button
 * @param $padding:     padding:             1rem 2rem
 * @param $bc:          background-color:    $blue
 * @param $b-radius:    border-radius:       5px
 * @param $color:       color:               $purple
 * @param $fontW:       font-weight:         bold
 * @param $cursor:      cursor:              pointer
 */
@mixin button(
    $padding: 1rem 2.5rem,
    $bc: $beige,
    $b-radius: 5px,
    $color: $blue,
    $fontW: bold,
    $cursor: pointer) {

    padding: $padding;
    color: $color;
    background-color: $bc;
    border-radius: $b-radius;
    font-weight: $fontW;
    cursor: $cursor;
}
/**
 * Wrapper
 * @param $color:       color:               $blue
 * @param $bc:          background-color:    $beige
 * @param $padding:     padding:             1.5rem 0
 * @param $br:          border-radius:       5px
 */
@mixin wrapper(
    $color: $blue,
    $bc: $beige,
    $padding: 1.5rem 0,
    $br: 5px) {

    color: $color;
    background-color: $bc;
    padding: $padding;
    border-radius: $br;

    @include breakpoint(xmedium down) {
        margin: 0 0.5rem;
    }
}