<footer class="footer">
    <nav class="footer__menu">
        <p class="footer__copy">© Copyright</p>
        <ul class="footer__links">
            <li><a href="">Contact</a></li>
            <li><a href="">A propos</a></li>
        </ul>
    </nav>
</footer>