<footer class="footer">
    <nav class="footer__menu">
        <p class="footer__copy">© Copyright</p>
        <ul class="footer__links">
            <li><a href="{{ path('contact') }}">Contact</a></li>
            <li><a href="{{ path('about') }}">A propos</a></li>
        </ul>
    </nav>
</footer>