<div>
    <nav>
        <ul>
            <li><a>Accueil</a></li>
            <li>
                <a href="{{ path('project_index') }}">Mes projets</a>
            </li>
            <li>
                <a href="{{ path('project_create') }}">Créer un projet</a>
            </li>
            <li><a>Se déconnecter</a></li>
        </ul>
    </nav>
</div>