<header class="header">
    <!-- Menu -->
    <nav class="header__menu">
        <!-- Logo -->
        <div class="header__logo">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/img/logoT.png') }}" alt="Logo Your Project">
            </a>
        </div>
        <!-- Social Network -->
        <ul class="header__social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
        <!-- Connexion -->
        <div class="header__connexion">
            <a href="">S'inscrire</a><a href="">Connexion</a>
        </div>
    </nav>
</header>